{% extends "places/detail_base_non_logged_in.html" %}

{% block meta %}
<title>Owned detail</title>
{% endblock %}

{% block rent_or_sale %}
<p><b>&pound;{{ property.price }}</b></p>
<p><b>For sale properties, please call 01273 654321</b></p>
{% endblock %}
