{% extends "places/results_base.html" %}

{% block rent_or_sale_detail_link %}
<div class="col-sm-5 col-xs-12" >
    <a href="{% url 'places:sale_detail' property.id %}" >
        <img src="{{ MEDIA_URL }}{{ property.image_standard }}" class="img-thumbnail img-responsive pull-left ">
    </a>
</div>
{% endblock %}

{% block rent_or_sale %}
<p><b>&pound;{{ property.price }}</b></p>
<p><b>For sale properties, please call 01273 654321</b></p>
{% endblock %}
