{% extends "base.html" %}

{% load static %}

{% block custom_css %}
<link href="{% static "/tools/css/articles_background_image.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container index-page">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please login</h3>
                </div>
                <div class="panel-body">
                    {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>
                            <p>Your username and password didn't match. Please try again.</p>
                        </strong>
                    </div>
                    {% endif %}
                    <div class="col-sm-12 col-md-8">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <p>
                                    {{ form.username }}
                                </p>
                                <p>
                                    {{ form.password }}
                                </p>
                            </div>
                            <button type="submit" class="btn btn-default submit-button" value="login">Submit</button>
                            <input type="hidden" name="next" value="{{ next }}" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

