<!-- Featured Link -->
<div class="row">
    <div class="col-sd-12 col-md-12 col-lg-12 global-header">
        <h2>Selling your home is much simpler with us!</h2>

        <p class="tagline">Call our office for a free consultation</p>

        <p><i>Extended? Renovated? Remortgaging or just curious?</i></p>

        <p>Read our guide to <a href="/pages/sell/">selling your home</a></p>
    </div>
</div>
<!-- Featured Link Ends-->
