{% extends "base.html" %}

{% load staticfiles %}

{% block meta %}
<title>Estate Agent</title>
{% endblock %}

{% block custom_css %}
<link href="{% static "/tools/css/background_image.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container index-page">
    <div class="row">
        <div class="col-sd-12 col-md-12 col-lg-12 centerme">
            {% for property in latest_properties %}
            {{ property }}
            {% endfor %}
        </div>
    </div>
    <div class="row vdivide">
        <div class="col-sm-12 col-md-8">
            {% include "search/simple_search.html" %}
        </div>
        <div class="col-sm-12 col-md-4">
        </div>
    </div>
</div>
{% endblock %}
