{% extends "places/detail_base_logged_in.html" %}

{% block meta %}
<title>Owner properties</title>
{% endblock %}

{% block property_detail %}
<div class="col-sm-3  col-xs-12">
    <h4 class="page-header property-header ">Property Address</h4>
    <p>{{ property.name }}</p>
    <p>{{ property.address }}</p>
    <p>{{ property.town_or_city }}</p>
    <p>{{ property.county }}</p>
    <p>{{ property.postcode }}</p>
</div>
<div class="col-sm-3 col-xs-12 property-manage">
    <h4 class="page-header property-header ">Price</h4>
    <p>&pound;{{ property.price }}</p>
</div>
<div class="col-sm-3 col-xs-12 property-manage">
    <h4 class="page-header property-header ">Owned By</h4>
    <a href="{% url 'people:owner_detail' person.id %}">{{ person.user.username }}</a>
</div>
<div class="col-sm-3 col-xs-12 property-manage">
    <h4 class="page-header property-header ">Rented By</h4>
    <a href="">Name Surname</a>
</div>
{% endblock %}
