{% extends "search/full_search_base.html" %}

{% block form_header %}
<div class="panel-heading">
    <h3 class="panel-title">Search for properties to buy</h3>
</div>
{% endblock %}

{% block amount_range_slider %}
<!-- Range slider, low track: -->
<div class="form-group">
    <p>
        {% if form.amount.errors %}
        <div class="alert alert-danger">
            {% for error in form.amount.errors %}
            <strong>{{ error }}</strong><br/>
            {% endfor %}
        </div>
        {% endif %}
        <label for="amount">Price range:</label>
        <input type="text" id="amount" name="amount" maxlength="25" size="25" class="slider-amount">
    </p>
    <div id="slider-range"></div>
</div>
{%  endblock %}

{% block hidden_fields %}
<input type="hidden" id="rent_or_sale" name="rent_or_sale" value="sale" />
{%  endblock %}
