{% load staticfiles %}

{% block custom_css %}
<link href="{% static "search/css/search.css" %}" rel="stylesheet">
{% endblock %}

<!-- Search Functionality -->
<div class="panel panel-default">

    <!-- Form Header -->
    {% block form_header %}{% endblock %}
    <!-- Form Header Finished -->

    <div class="panel-body">
        <!-- Display any errors from previous form submission -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
            <strong>
                {% if message.level == default_message_levels_error and message != "" %}
                {{ message }}
                {% endif %}
            </strong>
        </div>
        {% endfor %}
        {% endif %}
        <form class="global-form" name="full_search_form" id="full_search_form" method="post" action="{{ action }}">
            {% csrf_token %}
            <div class="form-group">
                <p>
                    {% if form.area.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.area.errors %}
                        <strong>{{ error }}</strong><br/>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <label for="area" class="home-label-required">Location:</label>
                    <input  type="text" id="area" name="area" class=" form-control" placeholder="Search area name or postcode" value="{{ form.area.value|default_if_none:"" }}"/>
                </p>
            </div>
            <div class="form-group">
                <p>
                    {% if form.description.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.description.errors %}
                        <strong>{{ error }}</strong><br/>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <label for="description">Property description:</label>
                    <input type="text" id="description" name="description" class="form-control" placeholder="Search in property descriptions" value="{{ form.description.value|default_if_none:"" }}"/>
                </p>
            </div>

            <!-- Amount Range Slider -->
            {% block amount_range_slider %}{% endblock %}
            <!-- Amount Range Slider Finished -->

            <div class="form-group">

                <!-- Hidden Fields -->
                {% block hidden_fields %}{% endblock %}
                <!-- Hidden Fields Finished -->

            </div>

            <!-- Propery details -->
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="bathrooms" class="col-form-label">Bathrooms:</label>
                        <select class="selectpicker form-control form-control-select" id="bathrooms" name="bathrooms">
                            {% for val,display in form.fields.bathrooms.choices %}
                            <option value="{{ val }}"{% if form.bathrooms.value|add:"0" == val %} selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="bedrooms" class="col-form-label">Bedrooms:</label>
                        <select class="selectpicker form-control form-control-select" id="bedrooms" name="bedrooms">
                            {% for val,display in form.fields.bedrooms.choices %}
                            <option value="{{ val }}"{% if form.bedrooms.value|add:"0" == val %} selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="floors" class="col-form-label">Floors:</label>
                        <select class="selectpicker form-control form-control-select" id="floors" name="floors">
                            {% for val,display in form.fields.floors.choices %}
                            <option value="{{ val }}"{% if form.floors.value|add:"0" == val %} selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-3">
                    <div class="form-group">
                        <label for="rooms" class="col-form-label">Rooms:</label>
                        <select class="selectpicker form-control form-control-select" id="rooms" name="rooms">
                            {% for val,display in form.fields.rooms.choices %}
                            <option value="{{ val }}"{% if form.rooms.value|add:"0" == val %} selected{% endif %}>{{ display }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <!-- Property Details Finished -->

            {% if form.bathrooms.errors %}
            <div class="alert alert-danger">
                {% for error in form.bathrooms.errors %}
                <strong>{{ error }}</strong><br/>
                {% endfor %}
            </div>
            {% endif %}
            {% if form.bedrooms.errors %}
            <div class="alert alert-danger">
                {% for error in form.bedrooms.errors %}
                <strong>{{ error }}</strong><br/>
                {% endfor %}
            </div>
            {% endif %}
            {% if form.floors.errors %}
            <div class="alert alert-danger">
                {% for error in form.floors.errors %}
                <strong>{{ error }}</strong><br/>
                {% endfor %}
            </div>
            {% endif %}
            {% if form.rooms.errors %}
            <div class="alert alert-danger">
                {% for error in form.rooms.errors %}
                <strong>{{ error }}</strong><br/>
                {% endfor %}
            </div>
            {% endif %}

            <button type="submit" class="btn btn-default submit-button">Submit</button>
        </form>
    </div>
</div>
<!-- /.search functionality -->
