{% extends "base.html" %}

{% load staticfiles %}

{% block custom_css %}
<link href="{% static "places/css/property.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container index-page">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <img class="property-img thumbnail" src="{{ property.image_standard.url }}" alt="property image">
        </div>
        <div class="col-sm-7">
            <h2 class="page-header property-header property-align">{{ property.short_description }}</h2>
            <p>{{ property.description|safe }}</p>
        </div>
        <div class="col-sm-7 col-xs-12 property-list">
            <ul class="list-group">
                <li class="list-group-item justify-content-between">
                    Rooms:
                    <span class="badge badge-default badge-pill">{{property.rooms}}</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Bedrooms:
                    <span class="badge badge-default badge-pill">{{property.bedrooms}}</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Bathrooms:
                    <span class="badge badge-default badge-pill">{{property.bathrooms}}</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Floors:
                    <span class="badge badge-default badge-pill">{{property.floors}}</span>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-12 property-border"></div>

            <!-- Property Details -->
            {% block property_detail %}{% endblock %}
            <!-- Property Details Finished -->

        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}
