{% extends "base.html" %}

{% load staticfiles %}

{% block custom_css %}
<link href="{% static "places/css/property.css" %}" rel="stylesheet">
<link href="{% static "places/css/property_list.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container index-page">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <img class="property-img thumbnail" src="{{ property.image_standard.url }}" alt="property image">
        </div>
        <div class="col-sm-7 col-xs-12">
            <h4 class="global-header plist-header">{{ property.short_description }}</h4>
            <p>{{ property.description|safe }}</p>
            <ul class="list-group">
                <li class="list-group-item justify-content-between">
                    Bathrooms:
                    <span class="badge badge-default badge-pill">{{property.bathrooms}}</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Bedrooms:
                    <span class="badge badge-default badge-pill">{{property.bedrooms}}</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Floors:
                    <span class="badge badge-default badge-pill">{{property.floors}}</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Rooms:
                    <span class="badge badge-default badge-pill">{{property.rooms}}</span>
                </li>
            </ul>
            <!-- Rent or Sale block -->
            {% block rent_or_sale %}{% endblock %}
            <!-- Rent or Sale Block Ends-->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 property-border"></div>
        <div class="col-sm-3  col-xs-12 property-manage">
            <h4 class="page-header property-header">Property Address</h4>
            <p>{{ property.town_or_city }}</p>
            <p>{{ property.county }}</p>
            <p>{{ property.postcode }}</p>
        </div>
        <div class="col-sm-3 col-xs-12 property-manage">
            <h4 class="page-header property-header">Price</h4>
            {%  if property.for_rent %}
            <p>&pound;{{ property.price }} pcm</p>
            {% else %}
            <p>&pound;{{ property.price }}</p>
            {% endif %}
        </div>
        <div class="col-sm-3 col-xs-12 property-manage">
            <h4 class="page-header property-header ">Key features</h4>
            <p>{{ property.key_features_1 }}</p>
            <p>{{ property.key_features_2 }}</p>
            <p>{{ property.key_features_3 }}</p>
        </div>
        <div class="col-sm-3 col-xs-12 property-manage">
            <h4 class="page-header property-header ">Further details</h4>
            <p>Council tax &pound;{{ property.council_tax_per_year }} per year</p>
            <p>Reference: {{ property.our_reference }}</p>
        </div>
        <div class="col-sm-12 col-xs-12 property-border"></div>
    </div>
    <!-- /.rows -->
</div>
<!-- /.container -->
{% endblock %}
