{% load places_tags %}

<div class="row">
epslkfdapfo
    {% for latest_property in latest_properties %}
    <div class="latest-properties-bottom col-md-3 col-sm-6">
        <div class="card thumbnail">
            {% if latest_property.for_rent %}
            <a href="{% url 'places:rental_detail' latest_property.id %}">
                {% else %}
                <a href="{% url 'places:sale_detail' latest_property.id %}">
                    {% endif %}
                    <img class="card-img-top" src="{{ latest_property.image_thumbnail.url }}" alt="property image" style="width:100%">
                </a>
                <div class="card-block">
                    <div class="caption">
                        <h5 class="caption-heading">
                            {% if latest_property.for_rent %}
                            For rent in {{ latest_property.postcode }}
                            {% else %}
                            For sale in {{ latest_property.postcode }}
                            {% endif %}
                        </h5>
                        {% card_content short_description=latest_property.short_description town_or_city=latest_property.town_or_city for_rent=latest_property.for_rent price=latest_property.price %}
                        <h5 class="caption-heading">
                            {% if latest_property.for_rent %}
                            &pound;{{ latest_property.price }} pcm
                            {% else %}
                            &pound;{{ latest_property.price }}
                            {% endif %}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
