{% extends "base.html" %}

{% block content %}
    <h2>Properties</h2>
    <ul>
        {% for property in object_list %}
            <li>Name: {{ property.name }}</li>
            <li>Bedrooms: {{ property.bedrooms }}</li>
            <li>Description: {{ property.description }}</li>
            <li><a href="/details/{{ property.id }}/">Details</a></li>
        {% endfor %}
    </ul>
{% endblock %}