{% extends "base.html" %}

{% load staticfiles %}

{% block custom_css %}
<link href="{% static "places/css/property.css" %}" rel="stylesheet">
<link href="{% static "places/css/property_list.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container index-page">
    {% for property in properties %}
    <div class="row">
        <!-- Rent or Sale Detail block -->
        {% block rent_or_sale_detail_link %}{% endblock %}
        <!-- Rent or Sale Detail Block Ends-->
        <div class="col-sm-7 col-xs-12">
            <h4 class="global-header plist-header">{{ property.short_description }}</h4>
            <p>{{ property.description|safe|truncatewords:60 }}</p>
            <p>{{ property.town_or_city }}</p>
            <p>{{ property.county }}</p>
            <p>{{ property.postcode }}</p>
            <ul class="list-group">
                <li class="list-group-item justify-content-between">
                    Bathrooms:
                    <span class="badge badge-default badge-pill">{{property.bathrooms}}</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Bedrooms:
                    <span class="badge badge-default badge-pill">{{property.bedrooms}}</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Floors:
                    <span class="badge badge-default badge-pill">{{property.floors}}</span>
                </li>
                <li class="list-group-item justify-content-between">
                    Rooms:
                    <span class="badge badge-default badge-pill">{{property.rooms}}</span>
                </li>
            </ul>
            <!-- Rent or Sale block -->
            {% block rent_or_sale %}{% endblock %}
            <!-- Rent or Sale Block Ends-->
        </div>
        <div class="col-sm-12 col-xs-12 property-border"></div>
    </div>
    {% endfor %}
</div>
{% endblock %}
