.home-label-required:before {
   content:"*";
   color:red;
}

.home-radio {
    padding-left: 0;
}
.slider-style {
    border:0;
    color:#f6931f;
    font-weight:bold;
}

.global-img {
    width: 200px; 
    height: 200px;
    margin-right: 3%;

}

.global-img-block {
    text-align: center;

}


.btn-space { 
    margin-right: 15px;
}
.btn-space:last-child{
    margin-right: 0;
}


.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.row {
    margin-bottom: 10px;
}

.all-revert {
    all: revert;
}


