a {
	text-align: center;
	color: #3c8225;
	position: relative;

}

.nav a {
text-align: left;
}

.property-img {
	width: 100%;
    display: block;
    margin-bottom: 7px;
}

.property-align {
	text-align: left;
}

/*was 2px*/
.page-header {
	margin: 20px 0 20px;
	text-align: center;
    border-bottom: 0px solid #76726D;
}

.property-header {
	margin: 20px 0 0px;
	text-align: center;
    color: #3c8225;
}

/*was 3px, #3c8225;*/
.property-border {
	    border-bottom: 2px solid #76726D;
	    margin-top: 20px;
	    width: 100%;
}

.property-manage {
	text-align: center;
}

/*h4 {*/
	/*font-weight: 900;*/
/*}*/

div.container.index-page {
	padding-bottom: 20px;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.badge {
	background-color: #3c8225;
}

li.list-group-item {
	width: auto;
	float: left;
	border: none;
	padding-left: 0px;
	background-color: #F5F5F5;
}

ul {
	white-space: nowrap;
	display: inline-block
}

.list-group-item > .badge {
	background-color: #3c8225;
	float: none;
}

