<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tenant detail</title>
    </head>
    <body>
        {# This is just left here for reference to the person in people loop #}
        {% if people %}
        <ul>
            {% for person in people %}
            <li><a href="{% url 'people:owner_detail' person.id %}">{{ person.user.username }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No users are available.</p>
        {% endif %}

    </body>
</html>
