{% extends 'base.html' %}

{% load static %}

{% block custom_css %}
<link href="{% static "/tools/css/articles_background_image.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container index-page">
    <div class="row ">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registration form</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 col-md-8">
                        <form method="post" class="global-form">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <p>
                                    <label for="{{ field.name }}"{% if field.field.required %} class="home-label-required"{% endif %}>{{ field.label_tag }}</label><br/>
                                    {{ field }}
                                    {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>
                                            <p>{{ error }}</p>
                                        </strong>
                                    </div>
                                    {% endfor %}
                                </p>
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-default submit-button" value="login">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

