{% extends "base.html" %}

{% load staticfiles %}

{% block custom_css %}
<link href="{% static "people/css/people.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container index-page">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="row person-contact">
                    <div class="col-sm-3">
                        <div class="row">
                            <img src="{{ person.image_standard.url }}" class="img-thumbnail img-responsive">
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{ person.user.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>{{ person.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Town or City</td>
                                        <td>{{ person.town_or_city }}</td>
                                    </tr>
                                    <tr>
                                        <td>County</td>
                                        <td>{{ person.county }}</td>
                                    </tr>
                                    <tr>
                                        <td>Postcode</td>
                                        <td>{{ person.postcode }}</td>
                                    </tr>
                                    <tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                                        </tr>
                                        <td>Phone Number</td>
                                        <td>{{ person.number }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'people:my_preferences' %}" class="btn btn-person">Preferences</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
