{% extends "base.html" %}

{% load staticfiles %}

{% block custom_css %}
<link href="{% static "people/css/property_list.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container index-page">
    {% for property in person.property_set.all %}
    <div class="row property-bottom">
        <div class="col-sm-5 col-xs-12" >
            <a href="{% url 'places:owned_detail' property.id %}" >
                <img src="{{ property.image_standard.url }}" class="img-thumbnail img-responsive pull-left ">
            </a>
        </div>
        <div class="col-sm-7 plist-text col-xs-12" >
            <div class="row">
                <h2 class="global-header plist-header">{{ property.short_description }}</h2>
                <div class="row property-bottom-2 ">
                    <p>{{ property.description|safe }}</p>
                    <div class="col-sm-6 property-list">
                        <ul class="list-group">
                            <li class="list-group-item justify-content-between">
                                Rooms:
                                <span class="badge badge-default badge-pill">{{property.rooms}}</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                Bedrooms:
                                <span class="badge badge-default badge-pill">{{property.bedrooms}}</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                Bathrooms:
                                <span class="badge badge-default badge-pill">{{property.bathrooms}}</span>
                            </li>
                            <li class="list-group-item justify-content-between">
                                Floors:
                                <span class="badge badge-default badge-pill">{{property.floors}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <h5>{{ property.town_or_city }}</h5>
                    <h5 class="plist-desc">{{ property.postcode }}</h5>
                    <div class="plist-bottom">
                        {%  if property.for_rent %}
                        <h4>Price: £{{ property.price }} pcm</h4>
                        {% else %}
                        <h4>Price: £{{ property.price }}</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
