{% extends "places/detail_base_non_logged_in.html" %}

{% block meta %}
<title>Rental detail</title>
{% endblock %}

{% block rent_or_sale %}
<p><b>&pound;{{ property.price }} pcm</b></p>
<p><b>For rental properties, please call 01273 123456</b></p>
{% endblock %}
