{% extends "base.html" %}

{% load staticfiles %}

{% block meta %}
<title>Agent detail</title>
{% endblock %}

{% block custom_css %}
<link href="{% static "people/css/people.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>{{ person.user.username }}</h1>

<h2>Contact details</h2>
{{ person.address }}<br>
{{ person.town_or_city }}<br>
{{ person.county }}<br>
{{ person.postcode }}<br>
{{ person.number }}
{% endblock %}
