<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Latest articles</h3>
    </div>
    <div class="panel-body article-list list-group">
        {% for latest_article in latest_articles %}
        <a href="{% url 'articles:article_detail' latest_article.id %}" class="list-group-item">
            {{ latest_article.title }}
        </a>
        {% endfor %}
    </div>
</div>

