{% extends "base.html" %}

{% block custom_css %}
<link href="{%  static "/tools/css/background_image.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container index-page">
    <div class="row">
        <div class="col-sd-12 col-md-12 col-lg-12 centerme">
            {% latest_properties %}
        </div>
    </div>
    <div class="row vdivide">
        <div class="col-sm-8">
            {% full_search_sale default_message_levels_error=DEFAULT_MESSAGE_LEVELS.ERROR %}
        </div>
        <div class="col-sm-4">
            {% articles_list %}
        </div>
    </div>
</div>
<!-- /.container -->
{% endblock %}
