{% extends "base.html" %}

{% load staticfiles %}
{% load places_tags %}

{% block custom_css %}
<link href="{%  static "/tools/css/background_image.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container index-page">
    <div class="row">
        {% x y %}
        <div class="col-sd-12 col-md-12 col-lg-12 centerme">
        </div>
    </div>
</div>
{% endblock %}
