{% extends "base.html" %}

{% load staticfiles %}

{% block meta %}
<title>Tenant detail</title>
{% endblock %}

{% block custom_css %}
<link href="{% static "people/css/people.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1>{{ person.user.username }}</h1>

<h2>Contact details</h2>
{{ person.address }}<br>
{{ person.town_or_city }}<br>
{{ person.county }}<br>
{{ person.postcode }}<br>
{{ person.number }}

<h2>Properties</h2>
<ul>
    {% for property in person.property_set.all %}
    <li><a href="{% url 'places:rented_detail' property.id %}">{{ property.address }}</a>, {{ property.town_or_city }}, {{ property.county }} {{ property.postcode }}</li>
    {% endfor %}
</ul>
{% endblock %}
