<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tenant properties</title>
    </head>
    <body>

        <h2>Properties</h2>
        <ul>
            {% for property in person.property_set.all %}
            <li><a href="{% url 'places:rented_detail' property.id %}">{{ property.address }}</a>, {{ property.town_or_city }}, {{ property.county }} {{ property.postcode }}</li>
            {% endfor %}
        </ul>

    </body>
</html>


