.person-contact {
	padding-bottom: 20px;
	width: 100%;

}

.btn-person {
	background-color: rgba(107, 103, 97, 0.92);
	border-color: rgb(130, 122, 122);
	
}

.btn-person:active, .btn-person:hover {
    color: #fff;
    background-color: rgba(107, 103, 97, 0.92);
    border-color: rgb(130, 122, 122);
}

.btn-person:focus {
	color: #fff;
}

td a {
	color: #333;
}

a.btn-person {
    color: #fff;
}

.table {
    margin-top: 2%;
    margin-left: 2%;
	width: 65%;
}

@media (max-width: 768px) {
	.person-contact {
		padding-left: 15%;
	}

	.btn {
		margin-top: 3%;
	}
}