.plist-header {
	margin-top: 0;
}

.plist-text {
	text-align: center;
}

li.list-group-item {
	width: auto;
	float: left;
	border: none;
	padding-left: 0px;
}

ul {
	white-space: nowrap;
	/*display: inline-block*/
}

.list-group-item > .badge {
	background-color:#6CB547;
	float: none;
}

.property-bottom {
	margin-bottom: 5%;
}

@media (min-width: 1450px) {
	.property-bottom-2 {
		margin-bottom: 5%;
	}
}

.row {
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

.property-list {
	padding-left: 0;
	width:auto;
}

ul li{
  display: inline;
}

@media (max-width: 768px) {
	.plist-header {
		margin-top: 2%;
	}
}