{% extends "base.html" %}

{% load staticfiles %}

{% block meta %}
<title>Owner detail</title>
{% endblock %}

{% block custom_css %}
<link href="{% static "people/css/people.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container index-page">
    <div class="row">
        <!-- <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <a href="edit.html" >Edit Profile</a>
            <a href="edit.html" >Logout</a>
            <p class=" text-info">May 05,2014,03:00 pm </p>
        </div> -->
        <div class="panel ">
            <div class="panel-body">
                <div class="row person-contact">
                    <div class=" col-sm-9 ">
                        <div class="row">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>{{ person.user.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td>{{ person.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Town or City</td>
                                        <td>{{ person.town_or_city }}</td>
                                    </tr>
                                    <tr>
                                        <td>County</td>
                                        <td>{{ person.county }}</td>
                                    </tr>
                                    <tr>
                                        <td>Postcode</td>
                                        <td>{{ person.postcode }}</td>
                                    </tr>
                                    <tr>
                                        <tr>
                                            <td>Email</td>
                                            <td><a href="mailto:{{ person.email }}">{{ person.email }}</a></td>
                                        </tr>
                                        <td>Phone Number</td>
                                        <td>{{ person.number }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <a href="#" class="btn btn-person">Properties Rented</a>
                        <a href="{% url 'people:owner_property_list' person.id %}" class="btn btn-person">Properties Owned</a>
                        <a href="#" class="btn btn-person">Properties Sold</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
